.exchanger {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  inline-size: clamp(320px, 90vw, 1257px);
  padding: 48px 28px;

  background-color: #fff;
  border-radius: 30px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.column-left {
  flex: 1;
  min-inline-size: 550px;
}

.column-right {
  flex: 1;
  min-inline-size: 550px;
}

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 200px;
}

.swap-wrapper {
  display: flex;
  justify-content: center;
  margin-block-end: 20px;
}

.error {
  color: #721c24;
  font-family: 'Inter Variable', sans-serif;
  text-align: center;

  &-title {
    margin-block-end: 8px;
  }
}

.loader {
  box-sizing: border-box;

  display: block;

  inline-size: 48px;
  block-size: 48px;
  margin: auto;

  border: 5px solid #d1d5db;
  border-radius: 50%;

  animation: rotation 1s linear infinite;

  border-block-end-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
