.exchanger {
  width: 1257px;
  height: 662px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 30px;
  padding-left: 28px;
}
