.info {
  margin-right: 25px;
}

.title {
  font-family: 'Inter Variable';
  font-weight: 700;
  font-style: normal;
  font-size: 26.14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
  margin-bottom: 5px;
}

.description {
  font-family: 'Inter Variable';
  font-weight: 400;
  font-style: normal;
  font-size: 21.24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #767676;
  margin: 0;
  margin-bottom: 25px;
}
